@charset "utf-8";

* {margin: 0; padding: 0; border: 0;}
a {text-decoration: none;}
ul {list-style: none;}



/* 모바일 */
#wrap {
    width: 360px; height: 4144px; 
    background-color: rgba(0,0,0,.2); 
    margin: auto;
}
header {width: 360px; height: 120px; background-color: rgba(255,0,0,.2); padding-top: 30px; box-sizing: border-box; text-align: center;}
nav {width: 360px; height: 120px; background-color: rgba(0,255,0,.5); margin-bottom: 20px;}
nav ul li {width: 360px; height: 30px; background-color: rgba(0,0,0,.2); }
nav ul li a {width: 360px; height: 30px; display: block; text-align: center;}
nav ul li a:hover {background-color: skyblue;}


#main_visual {display: none;}

.main_img {width: 340px; height: 423px; background-color: rgba(255,255,0,.2); position: relative; margin: 0 auto 20px; }
.main_caption {width: 340px; height: 200px; background-color: rgba(0,0,0,.2); position: absolute; bottom: 0; text-align: center;}
#figure_container::after {
    content: ""; 
    display: block; 
    clear: both;}
/* 비어있는 박스를 만들고 클리어를 했다
float요소 뒤에 클리어 해줄 때 float요소를 감싸는 부모박스의 ::after영역에 빈 박스를 만들어 클리어 해줌
*/


/* 모바일 버튼 영역 */
#mobile_btn {width: 240px; height: 60px; margin: 50px auto;}
#mobile_btn ul li {width: 60px; height: 60px; float: left; margin-right: 30px;}
#mobile_btn ul li:last-child {margin-right: 0;}
/* 이모티콘 가운데 놓는 방법 */
/* 
1. 각 요소를 inline-block 요소로 만들어 주면 글자처럼 변해서 text-align 사용 가능 
2. 딱 맞게 하면 1번 방법은 깔끔하지 않음
부모박스를 사이즈를 변경해서 부모박스를 margin: auto; 해준다
오른쪽 공간이 모자라서 내려간 요소를
#mobile_btn ul li:last-child {margin-right: 0;} 해준다
3. margin을 양 옆에 반반씩 줘서 부모의 크기를 마진까지 포함한 크기로 만들어줘도 된다.
부모박스를 270px으로 만들고 margin: 0 15px 해준다 (마지막 요소에서 마진을 안 빼줘도 됨) 
*/
#mobile_btn ul li a span {display:block; text-indent: -99999px;}
/* text-indent: -99999px;로 글자 지우기 text-indent는 블록요소에만 먹히기 때문에 display:block; 해주기*/
#mobile_btn ul li a {width: 60px; height: 60px; display: block; background-color: aqua; border-radius: 30px; text-align: center; line-height: 60px; font-size: 24px; color: #fff;}

/* footer */
footer {width: 360px; height: 200px; background-color: rgba(255,0,255,.2); text-align: center; padding: 20px; box-sizing: border-box;}
#ft_logo {width: 320px; height: 80px; background-color: rgba(0,0,0,.1);}
footer p {width: 320px; height: 80px; background-color: rgba(0,0,0,.2);}