@charset "utf-8";

* {margin: 0; padding: 0; border: 0;}
body {font-family: 'Nanum Gothic', sans-serif;}
a {text-decoration: none;}
ul {list-style: none}

/* 헤더 영역 */
#header {width: 100%; height: 30px; background: #554c4b;}
#header_wrap {width: 1000px; height: 30px; margin: auto;}
#gnb {width: 150px; height: 24px; float: right; font-size: 11px; padding-top: 6px; font-family: 'Noto Sans KR', sans-serif;}
#gnb ul li {float: left;}
#gnb ul li:first-child {border-right: 1px solid #494140; padding-right: 10px;  margin: 0 10px;}
#gnb ul li a {color: #b3a8a6;}



/* 내비게이션 영역 */
#nav {width: 100%; height: 79px; border-bottom: 1px solid #d9d9d9;}
#nav_wrap {width: 1000px; height: 80px; margin: auto;}
#top_logo {width: 141px; height: 60px; float: left; padding-top: 20px;}
#lnb {width: 750px; height: 80px; float: right; font-family: 'Noto Sans KR', sans-serif;}
#lnb ul li {float: left; padding-top: 40px; font-size: 17px; margin-right: 50px; letter-spacing: -1px; font-weight: 500;}
#lnb ul li a {color: #555;}
#lnb ul li:last-child {margin-right: 0;}


/* 메인 콘텐츠 영역 */
#main_cont {width: 100%; height: 876px; background: url("../../../WEB_UI/images/day5_images/bgimg.png");}
#main_cont_wrap {width: 1000px; height: 836px; margin: auto; padding-top: 40px; /* position: relative; */}
#main_banner_01 {width: 594px; height: 594px; float: left; margin: 0px 15px 15px 0;}
.main_banner_391_188 {width: 391px; height: 188px; float: left; }
.main_banner_188_188 {width: 188px; height: 188px; float: left; }
.margin_b_15 {margin-bottom: 15px;}
.margin_r_15 {margin-right: 15px;}
.banner_shadow {box-shadow: 7px 7px 7px rgba(0,0,0,.15);}





/* 서브 콘텐츠 영역01 - 뇌교육이 굼금하세요 */
#sub_cont {width: 100%; height: 1543px; background: url("../../../WEB_UI/images/day5_images/sub_top_bg.jpg") no-repeat top;}
.sub_cont_wrap {width: 1000px; height: 1543px; margin: auto;}

.snb {width: 220px; height: 1543px; float: left; border-left: 1px solid #eee; border-right: 1px solid #eee; box-sizing: border-box;}
.snb_title {width: 218px; height: 219px; background-color: #fa8468; color: #fff; padding: 70px 0 0 30px; box-sizing: border-box;}
.snb_title h2 {font-family: 'Noto Sans KR', sans-serif; font-size: 28px; font-weight: 500; letter-spacing: -3px; line-height: 1.1;}
.snb_title p {font-size: 12px; line-height: 2;}
.snb ul li {width: 218px; height: 54px; border-bottom: 1px solid #eee; line-height: 54px;}
.snb ul li a {width: 100%; height:100%; display: block; padding-left: 30px;  box-sizing: border-box; color: #555;}
.snb ul li a:hover {background-color: #efefef; color: #333; position: relative;}
.snb ul li a:hover::after {content: ">"; color: #fa8468; position: absolute; right: 20px;}
/* 앵커태그에 마우스를 올렸을 때 뒤에 > 기호를 끼워넣는다.
'마우스를 올렸을 때' 가 부모요소가 되어 position: relative;를 적용, 부모를 기준으로 포지션 지정 */


.sub_cont_right {width: 740px; height: 1543px; float: right;}
.sub_cont_right_title {width: 740px; height: 219px; padding-top: 26px; box-sizing: border-box; background: url("../../../WEB_UI/images/day5_images/top_img.png") no-repeat right 40px bottom;}
.path {font-size: 12px; color: #ccc;}
.path span {color: #888; margin: 0 10px;}
.path span:first-child {margin-left: 0;}
.sub_cont_right_title h2 {font-size: 36px; font-weight: 400; color: #fa8468; margin: 45px 0 15px;}
.sub_cont_right_title p {font-size: 12px; font-family: 'Noto Sans KR', sans-serif; color: #555;}


#aboutbr {width: 740px; height: 349px; background: url("../../../WEB_UI/images/day5_images/aboutbr_bg.jpg") no-repeat right bottom; font-size: 14px; color: #555; padding-top: 40px; margin-bottom: 14px;}
#aboutbr::before {content: ""; display: block; width: 24px; height: 4px; background-color: #30b896; margin-bottom: 10px;}
#aboutbr h3 {font-size: 38px; color: #30b896;}
#aboutbr h4 {font-size: 22px; color: #999; margin: 20px 0;}


.sub_tab {width: 740px; height: 40px; background-color: rgba(0,255,0,.2);}
.sub_tab ul li {width: 244px; height: 40px; float: left; background-color: #cacaca; margin-right: 4px;}
.sub_tab ul li:last-child {margin-right: 0;}
.sub_tab ul li a {width: 100%; height: 100%; display: block; color: #fff; font-weight: bold; text-align: center; line-height: 40px;}
.sub_tab ul li a:hover {background-color: #30b896; position: relative;}
/* 탭메뉴 아래쪽 삼각형 */
.sub_tab ul li a::after {content: ""; display: block; width: 0; height: 0; border-top: 10px solid #30b896; border-left: 10px transparent solid; border-right: 10px transparent solid; position: absolute; left: 117px; bottom: -10px; z-index: 10;}


.sub_tab_content {width: 738px; height: 669px; padding-top: 40px; border: 1px solid #ccc;}
/* #video {width: 740px; height: 254px; background-color: rgba(0,0,0,.1);} */
#video_title {width: 229px; height: 214px;  float: left; background: url("../../../WEB_UI/images/day5_images/pattern_grid_black.gif"); color: #fff; padding: 40px 30px 0; font-size: 14px;}
#video_title h3 {border-bottom: 1px solid #fff; padding-bottom: 15px; margin-bottom: 15px; font-size: 22px; font-weight: 400;}
#video_youtube {width: 449px; height: 254px; float: left;}
#video_youtube iframe {width: 100%; height: 100%;}
#brain_training_title {width: 738px; height: 134px; float: left; text-align: center; padding-top: 36px; box-sizing: border-box;}
#brain_training_img {width: 338px; height: 279px; float: left; text-align: right; margin-right: 50px;}
#brain_training_cont {width: 350px; height: 279px; float: left; padding-top: 20px; box-sizing: border-box; color: #888;}
#brain_training_cont h3 {margin-bottom: 10px;}
#brain_training_cont ul li {margin-bottom: 10px; list-style: square; color: #30b896; /* list-style: url("../../../WEB_UI/images/day5_images/list_bullet.gif"); */ margin-left: 20px; /* list-style-position: inside; */ /* background: url("../../../WEB_UI/images/day5_images/list_bullet.gif") no-repeat 10px; */}
#brain_training_cont ul li h4 {/* display: inline; */ /* margin-left: 10px; */ color: #888;}
#brain_training_cont ul li h4::before {/* content: "★"; */ /* content: url("../../../WEB_UI/images/day5_images/list_bullet.gif"); margin-right: 10px; vertical-align: super; */}
#brain_training_cont ul li p {font-size: 14px; margin-left: -20px; color: #888;}
/* list 앞에 땡땡이 이미지로 넣기, 안쪽으로 들여쓰기(list item)
1. li에 list-style-image 속성을 이용, li 앞에 이미지로 지정하고 margin-left 값으로 밀어준다.
2. li에 list-style-position 속성을 이용, inside로 바꿔준다(outside가 기본값) 그 뒤에 따라오는 글자자 inline이어야 한다.
3. li에 background-image로 땡땡이를 넣고, padding-left로 띄워준다.
4. li에 ::before 선택자를 이용해서 넣는다.
::before / ::after 선택자의 content 속성에 이미지를 넣으려면
content: url("이미지경로"); 이렇게 넣으면 된다.
5. li에 list-style: square;를 이용, color를 변겨해준다. h4와 p에 다시 컬러 재지정 해줘야함
*/

.sub_cont_btn_bg {width: 740px; height: 40px; border-bottom: 1px solid #eee; position: relative;}
.sub_cont_btn_bg a {width: 184px; height: 40px; background-color: #FA8468; display: block; text-align: center; line-height: 40px; color: #fff; font-weight: bold; position: absolute; top: 20px; left: 278px;}
/* line-height를 이용해 글자를 수직중앙정렬 시 주의할 점
1. 서체에 따라 다르기 때문에 완벽하게 가운데 정렬됐다고 할 수 없다.
2. 한 줄 이상 넘어가면 안된다.

*/






/* 퀵메뉴 */
#quick {width: 116px; height: 584px; 
    /* position: absolute; left: 1015px; 부모박스인 #main_cont_wrap 안에 자식으로 넣었을 때 부모를 기준으로 자리를 지정하는 방법 */ position: fixed; left: 50%; top: 150px; margin-left: 523px;}


/* 하단 영역 */
#footer {width: 100%; height: 147px; border-top: 1px solid #ccc;}
#footer_wrap {width: 1000px; height: 117px; margin: auto; padding-top: 30px;}
#footer_logo {width: 200px; height: 117px; float: left; text-align: right;}
#copyright {width: 750px; height: 117px; float: right; font-size: 12px;}
#fnb ul li {float: left; padding-right: 10px; border-right: 1px solid #ccc; margin-right: 10px;}
#fnb ul li:last-child {border: 0;}
#fnb ul li:nth-child(3), 
#fnb ul li:nth-child(4) {font-weight: bold;}
#fnb ul li a {color: #555;}
#fnb::after {content: ""; display: block; clear: both;} /* fnb뒤에 가상의 클리어 박스를 만들어서 자식요소로 끼워넣어줌. 눈에 보이게 표시는 하지 않을거기 때문에 content 속성에 빈 문자열("")을 넣음. */

/* 
::after / ::before 가상선택자(전후문자선택자)
선택자의 앞이나 뒤에 가상의 요소를 만들어서 끼워 넣어 줍니다.
content 속성을 사용할 수 있습니다.(다른 선택자에서는 content 속성 사용 불가)
*/

#company_info {margin: 10px 0 15px; line-height: 1.5; font-size: 11px; color: #555;}
#company_info span {margin-right: 30px;}
#copy {font-size: 10px; color: #888;}