@charset "utf-8";

* {margin: 0; padding: 0; border: 0;}
body {font-family: 'Nanum Gothic', sans-serif;}
a {text-decoration: none;}
ul {list-style: none}

/* 헤더 영역 */
#header {width: 100%; height: 30px; background: #554c4b;}
#header_wrap {width: 1000px; height: 30px; margin: auto;}
#gnb {width: 150px; height: 24px; float: right; font-size: 11px; padding-top: 6px; font-family: 'Noto Sans KR', sans-serif;}
#gnb ul li {float: left;}
#gnb ul li:first-child {border-right: 1px solid #494140; padding-right: 10px;  margin: 0 10px;}
#gnb ul li a {color: #b3a8a6;}



/* 내비게이션 영역 */
#nav {width: 100%; height: 79px; border-bottom: 1px solid #d9d9d9;}
#nav_wrap {width: 1000px; height: 80px; margin: auto;}
#top_logo {width: 141px; height: 60px; float: left; padding-top: 20px;}
#lnb {width: 750px; height: 80px; float: right; font-family: 'Noto Sans KR', sans-serif;}
#lnb ul li {float: left; padding-top: 40px; font-size: 17px; margin-right: 50px; letter-spacing: -1px; font-weight: 500;}
#lnb ul li a {color: #555;}
#lnb ul li:last-child {margin-right: 0;}


/* 메인 콘텐츠 영역 */
#main_cont {width: 100%; height: 876px; background: url("../../../WEB_UI/images/day5_images/bgimg.png");}
#main_cont_wrap {width: 1000px; height: 836px; margin: auto; padding-top: 40px; /* position: relative; */}
#main_banner_01 {width: 594px; height: 594px; float: left; margin: 0px 15px 15px 0;}
.main_banner_391_188 {width: 391px; height: 188px; float: left; }
.main_banner_188_188 {width: 188px; height: 188px; float: left; }
.margin_b_15 {margin-bottom: 15px;}
.margin_r_15 {margin-right: 15px;}
.banner_shadow {box-shadow: 7px 7px 7px rgba(0,0,0,.15);}





/* 서브 콘텐츠 영역01 - 뇌교육이 굼금하세요 */
#sub_cont {width: 100%; height: 1543px; background: url("../../../WEB_UI/images/day5_images/sub_top_bg.jpg") no-repeat top;}
.sub_cont_wrap {width: 1000px; height: 1543px; margin: auto;}

.snb {width: 220px; height: 1543px; float: left; border-left: 1px solid #eee; border-right: 1px solid #eee; box-sizing: border-box;}
.snb_title {width: 218px; height: 219px; background-color: #fa8468; color: #fff; padding: 70px 0 0 30px; box-sizing: border-box;}
.snb_title h2 {font-family: 'Noto Sans KR', sans-serif; font-size: 28px; font-weight: 500; letter-spacing: -3px; line-height: 1.1;}
.snb_title p {font-size: 12px; line-height: 2;}
.snb ul li {width: 218px; height: 54px; border-bottom: 1px solid #eee; line-height: 54px;}
.snb ul li a {width: 100%; height:100%; display: block; padding-left: 30px;  box-sizing: border-box; color: #555;}
.snb ul li a:hover {background-color: #efefef; color: #333; position: relative;}
.snb ul li a:hover::after {content: ">"; color: #fa8468; position: absolute; right: 20px;}
/* 앵커태그에 마우스를 올렸을 때 뒤에 > 기호를 끼워넣는다.
'마우스를 올렸을 때' 가 부모요소가 되어 position: relative;를 적용, 부모를 기준으로 포지션 지정 */


.sub_cont_right {width: 740px; height: 1543px; float: right;}
.sub_cont_right_title {width: 740px; height: 219px; padding-top: 26px; box-sizing: border-box; background: url("../../../WEB_UI/images/day5_images/top_img.png") no-repeat right 40px bottom;}
.path {font-size: 12px; color: #ccc;}
.path span {color: #888; margin: 0 10px;}
.path span:first-child {margin-left: 0;}
.sub_cont_right_title h2 {font-size: 36px; font-weight: 400; color: #fa8468; margin: 45px 0 15px;}
.sub_cont_right_title p {font-size: 12px; font-family: 'Noto Sans KR', sans-serif; color: #555;}


#aboutbr {width: 740px; height: 349px; background: url("../../../WEB_UI/images/day5_images/aboutbr_bg.jpg") no-repeat right bottom; font-size: 14px; color: #555; padding-top: 40px; margin-bottom: 14px;}
#aboutbr::before {content: ""; display: block; width: 24px; height: 4px; background-color: #30b896; margin-bottom: 10px;}
#aboutbr h3 {font-size: 38px; color: #30b896;}
#aboutbr h4 {font-size: 22px; color: #999; margin: 20px 0;}


.sub_tab {width: 740px; height: 40px; background-color: rgba(0,255,0,.2);}
.sub_tab ul li {width: 244px; height: 40px; float: left; background-color: #cacaca; margin-right: 4px;}
.sub_tab ul li:last-child {margin-right: 0;}
.sub_tab ul li a {width: 100%; height: 100%; display: block; color: #fff; font-weight: bold; text-align: center; line-height: 40px;}


.sub_tab_content {width: 740px; height: 711px; background-color: rgba(0,0,0,.1);}
/* #video {width: 740px; height: 254px; background-color: rgba(0,0,0,.1);} */
#video_title {width: 289px; height: 254px; background-color: rgba(0,0,0,.1); float: left;}
#video_youtube {width: 449px; height: 254px; background-color: rgba(0,0,0,.2); float: left;}
#brain_training_title {width: 738px; height: 134px; background-color: rgba(0,0,0,.3); float: left;}
#brain_training_img {width: 339px; height: 279px; background-color: rgba(0,0,0,.4); float: left;}
#brain_training_cont {width: 350px; height: 279px; background-color: rgba(0,0,0,.5); float: left;}
.sub_cont_btn_bg {width: 740px; height: 40px; background-color: rgba(255,0,0,.2);}
/* .next_sub_btn {width: 184px; height: 40px; background-color: rgba(0,0,0,.2);} */








/* 퀵메뉴 */
#quick {width: 116px; height: 584px; 
    /* position: absolute; left: 1015px; 부모박스인 #main_cont_wrap 안에 자식으로 넣었을 때 부모를 기준으로 자리를 지정하는 방법 */ position: absolute; left: 50%; top: 150px; margin-left: 523px;}


/* 하단 영역 */
#footer {width: 100%; height: 147px; border-top: 1px solid #ccc;}
#footer_wrap {width: 1000px; height: 117px; margin: auto; padding-top: 30px;}
#footer_logo {width: 200px; height: 117px; float: left; text-align: right;}
#copyright {width: 750px; height: 117px; float: right; font-size: 12px;}
#fnb ul li {float: left; padding-right: 10px; border-right: 1px solid #ccc; margin-right: 10px;}
#fnb ul li:last-child {border: 0;}
#fnb ul li:nth-child(3), 
#fnb ul li:nth-child(4) {font-weight: bold;}
#fnb ul li a {color: #555;}
#fnb::after {content: ""; display: block; clear: both;} /* fnb뒤에 가상의 클리어 박스를 만들어서 자식요소로 끼워넣어줌. 눈에 보이게 표시는 하지 않을거기 때문에 content 속성에 빈 문자열("")을 넣음. */

/* 
::after / ::before 가상선택자(전후문자선택자)
선택자의 앞이나 뒤에 가상의 요소를 만들어서 끼워 넣어 줍니다.
content 속성을 사용할 수 있습니다.(다른 선택자에서는 content 속성 사용 불가)
*/

#company_info {margin: 10px 0 15px; line-height: 1.5; font-size: 11px; color: #555;}
#company_info span {margin-right: 30px;}
#copy {font-size: 10px; color: #888;}